<select>
				<option value="EGEL-ADOM">ADMINISTRACIÓN</option>
				<option value="EGEL-BIO">BIOLOGÍA</option>
				<option value="EGEL-AGRO">CIENCIAS AGRÍCOLAS</option>
				<option value="EGEL-COMPU">CIENCIAS COMPUTACIONALES</option>
				<option value="EGEL-COMUNICA">CIENCIAS DE LA COMUNICACIÓN</option>
				<option value="EGEL-CIPAP">CIENCIA POLÍTICA Y ADMINISTRACIÓN PÚBLICA</option>
				<option value="EGEL-CNI">COMERCIO/NEGOCIOS INTERNACIONALES</option>
				<option value="EGEL-CONTA">CONTADURÍA</option>
				<option value="EGEL-DERE">DERECHO</option>
				<option value="EGEL-DISEÑO">DISEÑO GRÁFICO</option>
				<option value="EGEL-ECONO">ECONOMÍA</option>
				<option value="EGEL-ENFER">ENFERMERÍA</option>
				<option value="EGEL-GASTRO">GASTRONOMÍA</option>
				<option value="EGEL-INFO">INFORMÁTICA</option>
				<option value="EGEL-ICIVIL">INGENIERÍA CIVIL</option>
				<option value="EGEL-ICOMPU">INGENIERÍA COMPUTACIONAL</option>
				<option value="EGEL-ISOFT">INGENIERÍA DE SOFTWARE</option>
				<option value="EGEL-IELEC">INGENIERÍA ELÉCTRICA</option>
				<option value="EGEL-IELECTRO">INGENIERÍA ELECTRÓNICA</option>
				<option value="EGEL-IALI">INGENIERÍA EN ALIMENTOS</option>
				<option value="EGEL-IINDU">INGENIERÍA INDUSTRIAL</option>
				<option value="EGEL-IMECA">INGENIERÍA MECÁNICA</option>
				<option value="EGEL-IME">INGENIERÍA MECÁNICA ELÉCTRICA</option>
				<option value="EGEL-IMECATRO">INGENIERÍA MECATRÓNICA</option>
				<option value="EGEL-IQUIM">INGENIERÍA QUÍMICA</option>
				<option value="EGEL-MEDI">MEDICINA GENERAL</option>
				<option value="EGEL-MVZ">MEDICINA VETERINARIA Y ZOOTECNIA</option>
				<option value="EGEL-MERCA">MERCADOTECNIA</option>
				<option value="EGEL-NUTRI">NUTRICIÓN</option>
				<option value="EGEL-ODON">ODONTOLOGÍA</option>
				<option value="EGEL-EDU">PEDAGOGÍA/CIENCIAS DE LA EDUCACIÓN</option>
				<option value="EGEL-PSI">PSICOLOGÍA</option>
				<option value="EGEL-QUIM">QUÍMICA</option>
				<option value="EGEL-QUICLI">QUÍMICA CLÍNICA</option>
				<option value="EGEL-QFB">QUÍMICO FARMACEUTICO BIÓLOGO</option>
				<option value="EGEL-RI">RELACIONES INTERNACIONALES</option>
				<option value="EGEL-TSOC">TRABAJO SOCIAL</option>
				<option value="EGEL-TUR">TURISMO</option>
</select>